@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

/*Configurar toda la página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Header*/

header{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/fondo.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 10px 5px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
